* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --neutralColor: #F8F4E1;
    --primaryColor : #AF8F6F;
    --secondaryColor : #74512D;
    --specialColor: #543310;
    --darkRed: #742D2D;
    --darkBlue: #102354;
    --fontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--neutralColor);
    background-color: var(--secondaryColor);
    font-size: larger;
    padding: 20px;
}

.headerTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--neutralColor);
}

nav > a{
    color: var(--specialColor);
}

nav> a:hover{
    color: #110b04;
}

nav > a:active{
    color: #df8a2e;
}

nav > a:visited{
    color: #543310;
}

.logo{
    border-radius: 10px;
    width: 12%;
    color-scheme: var(--specialColor);
}

.btn-login{
    transition: 8ms;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: var(--darkRed);
    color: var(--neutralColor);
    
}

.btn-login:hover{
    transition: 8ms;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: #521f1f;
    color: #F8F4E1;
    cursor: pointer;
    
}

.btn-login:active{
    transition: 8ms;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: #9c3c3c;
    color: #F8F4E1;
    
}

.btn-login:visited{
    transition: 8ms;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background-color: var(--darkRed);
    color: var(--neutralColor);
    
}

body{
    background-color: var(--secondaryColor);
}

.container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--primaryColor);
}

.card{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    gap: 10px;
    min-height: 60vh;
}


.card-footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.link  > a{
    transition: 8ms;
    color: var(--specialColor);
}

.link  > a:hover{
    transition: 8ms;
    color: #201508;
}

.link > a:active{
    transition: 8ms;
    color: #784a19;
}

.link > a:visited{
    transition: 8ms;
    color: var(--specialColor);
}

.table{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    background-color: var(--primaryColor);
    border-radius: 10px;
}

.table > thead> tr{
    display: flex;
    gap: 10px;
}

.table > tbody > tr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.btn{
    padding: 8px;
}

.btn-info:link {
    transition: 8ms;
    color: var(--specialColor);
}

.btn-info:hover{
    transition: 8ms;
    color: #b74f00fc;
}

.btn-info:active{
    transition: 8ms;
    color: #f5964efc;
}

.btn-info:visited{
    transition: 8ms;
    color: var(--specialColor);
}

.btn-danger{
    transition: 8ms;
    background-color: var(--neutralColor);
    border: 0;
    border-radius: 10px;
    border-style: none;
    color: var(--specialColor);
}

.btn-danger:hover{
    transition: 8ms;
    background-color: rgb(215, 215, 215);
    border: 0;
    border-radius: 10px;
    border-style: none;
    color: var(--specialColor);
    cursor:pointer;
}

.btn-danger:active{
    transition: 8ms;
    background-color: rgb(235, 233, 233);
    border: 0;
    border-radius: 10px;
    border-style: none;
    color: var(--specialColor);
}

.btn-danger:visited{
    transition: 8ms;
    background-color: var(--neutralColor);
    border: 0;
    border-radius: 10px;
    border-style: none;
    color: var(--specialColor);
}

footer{
    color: var(--neutralColor);
    background-color: var(--specialColor);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.login_body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondaryColor);
    
}

.UI{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.UI > h1{
    font-size: x-large;
}

.form-control{
    width: 100%;
}

.about-us-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    min-height: 59vh;
    color: var(--neutralColor);
    background-color: var(--primaryColor);
}

.create-product-container{
    min-height: 60vh;
}

.create-product-container >form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row{
    padding: 20px;
    width: 80%;
}