<!--{{define "Index"}}

{{template "_head"}}
{{template "_header"}}
{{template "_menu"}}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Da Digital Catalog</title>
</head>

<header class = "header">
    <h1 class="headerTitle">
        Da Digital Catalog
    </h1>
    <img src="logo/Logo.png" alt="logo" width="11%">
</header>

<nav class="navbar navbar-light bg-light mb-4">
    <a class="font link" href="index.html">Main page</a>
    <a class="font link"href="about-us.html">About us</a>
    <a href="login.html"><button class="btn-login font">Log in</button></a>
</nav>

<body>
    <div class="about-us-container">
        <p class="font">
            Da Digital Catalog is a project for educational purposes.
        </p>
        <p class="font">
            It was developed using the following technologies:
        </p>
        <ul class="font">
            <li>
                HTML
            </li>

            <li>
                CSS
            </li>

            <li>
                Go (Golang)
            </li>

            <li>
                PostgreSQL
            </li>
        </ul>
        <p class="font">
            By Augusto Sodré and Pedro Antônio R. Oliveira
        </p>
    </div>
</body>

<!--{{template "_footer"}} --->

<footer>
    <img src="logo/Logo.png" alt="logo" width="10%">
    <p class="font">
        Da Digital Catalog
    </p>
</footer>

</html>

<!-- {{end}} --->
