<!--{{define "criar-produto"}}

{{template "_head"}}
{{template "_header"}}
{{template "_menu"}} --->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Da Digital Catalog</title>
</head>

<header class = "header">
    <h1 class="headerTitle">
        Da Digital Catalog
    </h1>
    <img src="logo/Logo.png" alt="logo" width="11%">
</header>

<nav class="navbar navbar-light bg-light mb-4">
    <a class="font link" href="index.html">Main page</a>
    <a class="font link"href="about-us.html">About us</a>
    <a href="login.html"><button class="btn-login font">Log in</button></a>
</nav>

<body>
<div class="container create-product-container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5 font">New item</h1>
            <p class="lead font">Insert details</p>
        </div>
    </div>
    <form method="POST" action="insert">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="nome" class="font">Name:</label>
                    <input type="text" name="nome" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="autor" class="font">Author:</label>
                    <input type="text" name="autor" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="sinopse" class="font">Synopsis:</label>
                    <input type="text" name="sinopse" class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" value="salvar" class="btn btn-success font">Save</button>
        <a class="btn btn-info font" href="index.html">Back</a>
    </form>
</div>
</body>

<!--{template "_footer"}} -->

<footer>
    <img src="logo/Logo.png" alt="logo" width="10%">
    <p class="font">
        Da Digital Catalog
    </p>
</footer>

</html>
<!-- {{end}} -->