<!--- {{define "Login"}} -->
<!--- {{template "_head"}} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Da Digital Catalog</title>
    <style>
        body{
            background-image: url(bg/Login_Rectangle_BG.png);
            background-repeat: no-repeat;
            background-size: 65%;
            background-position: center;
        }
    </style>
    
</head>

<body class = "login_body">
    <div class="UI">
        <h1 class="font">
            Welcome to Da Digital Catalog!
        </h1>

        <div class="username">
            <label for="Username" class="font">Username: </label>
            <input type="text" name="username" class="form-control">
        </div>

        <div class="password">
            <label for="Password" class="font">Password: </label>
            <input type="text" name="password" class="form-control">
        </div>

        <div class="username">
            <label for="Username" class="font">Username: </label>
            <input type="text" name="username" class="form-control">
        </div>

        <button type="submit" value="salvar" class="btn btn-login font">Submit</button>
    </div>
</body>


</html>

<!-- {{end}} -->